NUXT_PUBLIC_SITE_NAME="FAMtastic Designs"
NUXT_PUBLIC_SITE_URL="http://127.0.0.1:3001"
NUXT_PUBLIC_CMS_MODE="local"
NUXT_PUBLIC_LEAD_STORAGE_MODE="local"
NUXT_PUBLIC_PAYMENT_MODE="mock"
NUXT_PUBLIC_PORTAL_MODE="preview"

ENABLE_ADMIN_PROOF="true"
ADMIN_PROOF_PIN="1234"

DIRECTUS_URL=""
DIRECTUS_TOKEN=""
DIRECTUS_ADMIN_EMAIL=""
DIRECTUS_ADMIN_PASSWORD=""

PAYPAL_ENV="sandbox"
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
PAYPAL_WEBHOOK_ID=""
PAYPAL_BUSINESS_EMAIL=""
PAYPAL_RETURN_URL=""
PAYPAL_CANCEL_URL=""
PAYPAL_CHECKOUT_URL=""
PAYPAL_INVOICE_URL=""
PAYPAL_CARE_PLAN_URL=""

BOOKING_PROVIDER="mock"
BOOKING_URL=""
BOOKING_EMBED_URL=""
CALCOM_URL=""
CALDIY_URL=""
CALENDSO_URL=""
EASYAPPOINTMENTS_URL=""

STRIPE_AUDIT_PAYMENT_LINK=""
STRIPE_SECRET_KEY=""
STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""

SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
NOTIFICATION_EMAIL_TO=""

GA_MEASUREMENT_ID=""
GOOGLE_TAG_MANAGER_ID=""
GOOGLE_SITE_VERIFICATION=""

RECAPTCHA_SITE_KEY=""
RECAPTCHA_SECRET_KEY=""
